MONGODB_URI=
# Put MongoDB Atlas URI here
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
CORS_ORIGIN=http://localhost,http://localhost:3000,http://localhost:5173,http://3.109.158.245
NGROK_AUTHTOKEN=
NGROK_DOMAIN=
PORT=